@using EvaluasiKknm.Models;
@{
    ViewBag.Title = "Details";
    Penilaian penilaian = ViewBag.penilaian;
    List<Komentar> komentars = ViewBag.komentars;
}

<section>
    <div class="container">
        <div class="row" style="margin-top:80px">

            <div class="col-md-8 mx-auto">
                <h2 style="text-center"> Penilaian </h2><br/>
                <a> Skor @penilaian.Skor</a><br/>
                <a> Deskripsi @penilaian.Alasan</a><br/>
                <a> Pengusul : Mufid Jamaluddin</a><br/>
            </div>
        
        </div>
        <div class="row">

            @foreach (Komentar komentar in ViewBag.komentars)
            {

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text">@komentar.DescKomentar</p>
                    </div>
                </div>

            }

        </div>
        <div class="row">

            <div class="col-md-8 mx-auto">

                <form accept-charset="utf-8">
                    <div class="form-group">
                        <label for="desk">Tambahkan Komentar</label>
                        <textarea class="form-control summernote" id="desk" type="text" aria-describedby="desk"></textarea>
                    </div>
                    <button class="btn btn-dark">Tambahkan</button>
                </form>

            </div>

        </div>
    </div>
</section>
