@{
    ViewBag.Title = "Home Page";
}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Evaluasi</h1>
            <h2 class="masthead-subheading mb-0">Kuliah Kerja Nyata Mahasiswa</h2>
            <a href="http://localhost:24788/Desa/Profil/3207291005" class="btn btn-primary btn-xl rounded-pill mt-5">Lihat Desa Mekarwangi</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/images/pertanian-sawah.jpg" alt="Pertanian">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Evaluasi</h2>
                    <p>Berikan penilaian dan komentar terhadap indikator keberhasilan program Kuliah Kerja Nyata Mahasiswa</p>
                </div>
            </div>
        </div>
    </div>
</section>