@{
    ViewBag.Title = "Home Page";
}


    <div class="jumbotron background-2" style="margin:0">
        <h1 class="display-4">Evaluasi Kuliah Kerja Nyata Mahasiswa</h1>
    </div>


<div class="container-fluid background-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="body-content">
                <p class="lead text-justify paragraph">
                    Penerapan knowledge sharing dalam aplikasi Evaluasi Kuliah Kerja Nyata adalah kemampuan aplikasi dalam menjembatani mahasiswa, dosen pembimbing, dan pemerintah daerah dalam penyusunan indikator keberhasilan dan penilaian atas indikator keberhasilan program kuliah kerja nyata. Penilaian indikator keberhasilan dalam kuliah kerja nyata menggunakan skala 1-100 dengan indikator keberhasilan yang telah dimasukkan sebelumnya kedalam aplikasi beserta deskripsi yang menggambarkan nilai tersebut.
                </p>
                <p class="lead text-justify paragraph">
                    Angka penilaian indikator keberhasilan dalam aplikasi Evaluasi Kuliah Kerja Nyata yang telah dimasukkan dapat diberikan komentar, baik oleh mahasiswa, dosen, maupun pemerintah daerah. Hal ini adalah penerapan knowledge sharing dimana mahasiswa, dosen pembimbing, dan pemerintah daerah secara iteratif dapat memperbaiki hasil evaluasi  sesuai dengan capaian indikator keberhasilan kuliah kerja nyata dari pengalaman individu.
                </p>
                <p class="lead text-justify paragraph">
                    Data-data penilaian indikator keberhasilan, deksripsi nilai indikator keberhasilan, dan indikator keberhasilan itu sendiri dapat menjadi rujukan bagi pelaksanaan kuliah kerja nyata (KKN) pada tahun berikutnya.
                </p>
                <p class="lead">
                    Untuk menggapai pertanian berkelanjutan, aplikasi menyajikan deskripsi tentang kearifan lokal pertanian tradisional tempat pelaksanaan Kuliah Kerja Nyata (KKN). Deskripsi ini diharapkan digunakan sebagai pedoman dalam pembuatan indikator keberhasilan dan pelaksanaan kuliah kerja nyata. 
                </p>
            </div>
        </div>
    </div>

</div>