@{
    ViewBag.Title = "Profil";
}

<section>
    <div class="container">
        <div class="row">

            <h3>Profil Kelompok</h3>

            <div class="card">
                <h5 class="card-header">
                    Data Kelompok
                </h5>
                <div class="card-block">
                    <p class="card-text">
                        Nama Kelompok       : KKN Mekarwangi
                        Tanggal Awal KKN    : 20 Maret 2018
                        Tanggal Akhir KKN   : 23 Maret 2018
                    </p>
                </div>
            </div>

            <h5 class="text-center">
                Anggota
            </h5>
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            NIM
                        </th>
                        <th>
                            Nama
                        </th>
                        <th>
                            Jurusan
                        </th>
                        <th>
                            Program Studi
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            165221014
                        </td>
                        <td>
                            Khalid Ahmad
                        </td>
                        <td>
                            Administrasi Niaga
                        </td>
                        <td>
                            D3 Usaha Perjalanan Wisata
                        </td>
                    </tr>
                    <tr>
                        <td>
                            165221018
                        </td>
                        <td>
                            Muhammad Ramdani
                        </td>
                        <td>
                            Administrasi Niaga
                        </td>
                        <td>
                            D3 Usaha Perjalanan Wisata
                        </td>
                    </tr>
                    <tr>
                        <td>
                            161511019
                        </td>
                        <td>
                            Mufid Jamaluddin
                        </td>
                        <td>
                            Teknik Komputer
                        </td>
                        <td>
                            D3 Teknik Informatika
                        </td>
                    </tr>
                    <tr>
                        <td>
                            161511020
                        </td>
                        <td>
                            Mughie Mughoni
                        </td>
                        <td>
                            Teknik Komputer
                        </td>
                        <td>
                            D3 Informatika
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>
